.card {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3rem;
  z-index: -1;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(63,163,227,0.2));
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.15);
}

.cardWrapper{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: .7rem;
}

.cardImg{
  object-fit: cover;
  object-position: center top;
  height: 300px;
  width: 100%;
  border-radius: 3rem;
}

.cardDescription{
  width: 100%;
  text-align: start;
  color: var(--color);
  font-size: 1.5rem;
  margin: 0;
}

.heartContainer {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: .3s;
}

.heartContainer .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  left: 0;
  right: 0;
  cursor: pointer;
}

.heartContainer .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heartContainer .svgOutline,
.heartContainer .svgFilled {
  fill: var(--heart-color);
  position: absolute;
}

.heartContainer .svgFilled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heartContainer .svgCelebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heartContainer .checkbox:checked~.svgContainer .svgFilled {
  display: block
}

.heartContainer .checkbox:checked~.svgContainer .svgCelebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

@media (max-width: 450px){
  .card{
    padding: 1rem;
  }
}