.butt {
  background-color: var(--button-color);
  color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 300ms ease, box-shadow 150ms ease;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 4px 8px var(--shadow-color), inset 0 0 0 rgba(0,0,0,0);

  > * {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
  }

}

.butt:hover {
  box-shadow: 0 6px 12px var(--shadow-color), inset 0 0 0 rgba(0,0,0,0);
  transform: translateY(-2px);
}

.butt:active {
  box-shadow: 0 0 0 transparent, inset 0 2px 4px var(--shadow-color);
  transform: translateY(0);
}