.a-style{
  color: var(--icon-color);
  transition: color .5s ease, transform 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: transparent;
}

.text-style{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  user-select: none;
}

.header {
  position: sticky;
  margin: 1.5rem auto;
  top: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  width: 80%;
  max-width: 1200px;
  padding: 8px 0;

  background-color: var(--header-background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  border-radius: 48px;
  transition: all 0.5s ease;
  z-index: 1000;

  @media (max-width: 1300px) {
    width: 90%;
  }

  @media (max-width: 800px) {
    margin: 1rem auto;
    top: 1rem;
  }
}

.headerLogoText{
  @extend .text-style;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.headerLoginIcon{
  height: 3rem;
}

.headerLoginText{
  @extend .text-style;
}

.headerLogoIcon{
  height: 4rem;

  @media (max-width: 800px) {
    height: 2.5rem;
  }
}

.headerNavButtons{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.headerRightSide{
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.userWrapper{
  position: relative;
}

.headerLogo, .headerAuthentication {
  @extend .a-style;

  &:hover {
    color: #131313;
  }

  &:active {
    color: var(--icon-color);
    transform: scale(0.9);
  }
}


