.userMenuContainer {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0.5rem;
  width: 16rem;
  background-color: var(--header-background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  border-radius: 48px;
  transition: all 0.5s ease;
  z-index: 900;
}
