:root[data-theme='dark'] {
  --color: #fffafa;
  --secondary-color: #b0b0b0;
  --background-color: #242424;
  --hover-color: #6b72ff;
  --button-color: #1a1a1a;
  --header-background: #7099d5;
  --footer-background: #196ea1;
  --accent-color: #c32323;
  --card-background: #2d2d2d;
  --border-color: #ddd;
}

:root[data-theme='light'] {
  --color: #213547;
  --secondary-color: #555;
  --background-color: #ffffff;
  --hover-color: #747bff;
  --button-color: #f6f6f6;
  --header-background: #9ac1f0;
  --footer-background: #59afe8;
  --accent-color: #e54848;
  --card-background: #f5f5f5;
  --border-color: #444;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --shadow-color: rgba(0, 0, 0, 0.2);

  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-transition {
  transition: background-color 0.5s ease, color 0.5s ease;
}
