:root[data-theme='dark'] {
  --color: #ffffff;
  --secondary-color: #b0b0b0;
  --background-color: #242424;
  --button-color: #1a1a1a;
  --header-background: rgba(112, 153, 213, 0.2);
  --footer-background: #196ea1;
  --card-background: #2d2d2d;
  --border-color: rgba(255, 255, 255, 0.2);
  --icon-color: #2b2b2b;
}

:root[data-theme='light'] {
  --color: #000000;
  --secondary-color: #555;
  --background-color: #ffffff;
  --button-color: #ffffff;
  --header-background: rgba(154, 193, 240, 0.2);
  --footer-background: #59afe8;
  --card-background: #f5f5f5;
  --border-color: rgba(0, 0, 0, 0.1);
  --icon-color: #474747;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --shadow-color: rgba(0, 0, 0, 0.4);
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-transition {
  transition: background-color 0.5s ease, color 0.5s ease;
}
